.app {
  font-family: monospace;
  font-size: 17px;
  padding: 50px;
}

.d-flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.container {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  width: 500px;
  height: 500px;
  margin: 10px;
}

.slotWrapper {
  margin: 10px;
}

.slot {
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  width: 100px;
  font-size: 60px;
  color: rgb(26, 26, 26);
  background-color: rgb(177, 175, 175);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.slot:hover {
  transform: scale(1.1);
  background-color: rgb(218, 216, 216);
  transition: 0.5s;
}

.error {
  text-align: center;
  color: indianred;
}


